<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="jp.task.mng.app.repository.TaskRegistrationMapper">
    <select id="createTask" parameterType="TaskRegistrationDto" resultType="integer">
        INSERT INTO
            task
            (title, detail, progress, starttime, endtime)
        VALUES
            (#{title}, #{detail}, #{progress}, #{startDate}, #{endDate})
        RETURNING id
    </select>
  </mapper>